@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light (default) */
:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
}

/* Dark (when `.dark` class is on <html>) */
.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
}

html, body { height: 100%; }

/* Let Tailwind drive colors via our CSS variables */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

